<div id="about-section" class="section">
    <div class="section-title">
        <h1>ABOUT US</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center pb-2">
                <h3>Description of The Green Guys</h3>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center light-text">
                <p>
                    Thank you for reaching out to us. We are a small landscape design firm based out of Des Moines since 2009. Our work centers around outdoor space design and installation for commercial and residential properties. 
                    Our company started out of our parent's garage while Christian and Matt were in high school! We loved being outdoors and using our hands and so after a year of planning and learning, we began our company with little more than two rakes in the company assets. 
                    We, along with the employees we have had, built a business focused on creativity, inclusivity, and accountability. 
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center pb-2 pt-2">
                <h3>What We Specialize In</h3>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center light-text">
                <p>
                    Having more than 9 years of experience with design, installation, and maintenance, we have a broad-reaching skill set that we can offer to those needing outdoor assistance. 
                    We LOVE working with clients and their creative ideas for outdoor spaces. Combining aesthetic hardscape and beautiful planting foliage is what we claim to have the most experience in. 
                    This can include retention walls, patios, walkways alongside beautiful swaths of planting that create interest all year round. Being an Iowa-based company, we enjoy showcasing our state’s native resources to create these intriguing outdoor spaces. 
                    This includes anything from Iowa’s famous white limestone to the prairie grass and wildflower species that dominated our landscape for centuries before settlement. Bringing Iowa beauty to the backyard landscape is what we are all about!
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center pb-3 pt-3">
                <h3>How to Contract Us</h3>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center light-text light-text">
                <p>
                    We are very straightforward to work with. You can inquire about services by simply sending us an email or giving us a call to set up a visit for us to come to you. 
                    If your property needs continued maintenance, we can set up a recurring contract where we regularly care for your property and its needs on a schedule, based upon an hourly rate. 
                    If the work you need done is more of a project, we would love to come out and give you an estimate for the work and materials we need to complete it! Either way, give us a ring to see what route is best!
                </p>
            </div>
        </div>
    </div>

    <div class="container pt-4">
        <div>
            <div class="col-12 d-flex justify-content-center align-items-center pb-4 pt-3">
                <h3>Meet the Founders</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="carousel-item active">
                    <img src="img/cutie_pie.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Christian Hofbauer</h3>
                      <p><strong>Owner</strong></p>
                    </div>
                </div>
            </div>

            <div class="col-12 d-flex justify-content-center align-items-center pt-3 pb-3 light-text">
                <p>Hi! My name is <strong>Christian Hofbauer</strong> and I am the owner and operator of The Green Guys Landscaping! </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="carousel-item active">
                    <img src="img/cutie_pie.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Matt Mitchell</h3>
                      <p>Lead Landscape Designer</p>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center pt-2 pb-2 light-text">
                <p>
                    Hi! My name is <strong>Matt Mitchell</strong> and I am the landscape designer for The Green Guys. I have been in this position since we founded the company in 2009 out of our garage. Since the early days, my desire has been to help our customers establish a relationship with the land they call home. I graduated from Iowa State in May of 2020 with a degree in Landscape Architecture and Environmental Studies. This education launched me into a deeper understanding of humans, our environment, and the spaces that we can create for both. Being outside brings me great joy especially when plants get involved ☺ I am currently working part-time as a designer since most of my time is spent at the Ames Romero House where I am a house supervisor. If you are interested in any level of outdoor design to take place on your property, give me a call! I love unique and challenging opportunities.
                </p>
            </div>
        </div>
      </div>
</div>
    
