<div id="about-section" class="section">
    <div class="section-title">
        <h1>ABOUT US</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <p>Hi! My name is <strong>Christian Hofbauer</strong> and I am the owner and operator of The Green Guys Landscaping! </p>
            </div>
            <div class="col-6">
                <div class="carousel-item active">
                    <img src="img/cutie_pie.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Christian Hofbauer</h3>
                      <p><strong>Owner</strong></p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="carousel-item active">
                    <img src="img/cutie_pie.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Matt Mitchell</h3>
                      <p>Lead Landscape Designer</p>
                    </div>
                  </div>
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <p>Hi! My name is <strong>Matt Mitchell</strong> and I am the landscape designer for The Green Guys. I have been in this position since we founded the company in 2009 out of our garage. Since the early days, my desire has been to help our customers establish a relationship with the land they call home. I graduated from Iowa State in May of 2020 with a degree in Landscape Architecture and Environmental Studies. This education launched me into a deeper understanding of humans, our environment, and the spaces that we can create for both. Being outside brings me great joy especially when plants get involved ☺ I am currently working part-time as a designer since most of my time is spent at the Ames Romero House where I am a house supervisor. If you are interested in any level of outdoor design to take place on your property, give me a call! I love unique and challenging opportunities.</p>
            </div>
        </div>
    </div>
</div>