<div id="about-section" class="section">
    <div class="section-title">
        <h1>ABOUT US</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 d-flex justify-content-center align-items-center">
                <h3> Meet the <strong>Owner</strong> </h3>
            </div>
            <div class="col-6">
                <div class="carousel-item active">
                    <img src="img/cutie_pie.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Christian Hofbauer</h3>
                      <p>You'll see him on every job site</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="carousel-item active">
                    <img src="img/cutie_pie.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Matt Mitchell</h3>
                      <p>You'll work with him to design the landscape of your dreams.</p>
                    </div>
                  </div>
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <h3>Meet the <strong>Lead Landscape Designer</strong></h3>
            </div>
        </div>
    </div>
</div>