<div id="contact-section" class="section bg-white">
    <div class="row">
        <div class="col-12 .col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div id="contact-info" class="d-flex justify-content-center align-items-center flex-column">
                <div class="p-2"><h2 class="section-title">CONTACT US</h2></div>
                <address class="p-2">West Des Moines, Iowa 50266, US</address>
                <address class="p-2">Centar@yahoo.com</address>
                <address class="p-2">(555) 978-6969</address>
            </div> 
        </div>
        <div class="col-12 .col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <form id="contact-form" class="d-flex flex-column">
                <div class="row">
                    <div class="col">
                        <input name="username" id='contact-form-name' type="text" class="form-control" placeholder="Name" required>
                    </div>
                    <div class="col">
                        <input name="userEmail" id='contact-form-email' type="text" class="form-control" placeholder="Email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input name="emailSubject" id='contact-form-subject' type="text" class="form-control" placeholder="Subject" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea name="emailBody" id='contact-form-message' class="form-control" rows="3" placeholder="Message" required></textarea>
                    </div>
                </div>
                <div class="row align-self-center">
                    <button id="contact-form-button" type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        function resetForm() {
            const inputs = $('#contact-form input');

            for (let i = 0; i < inputs.length; i++) {
                switch (inputs[i].type) {
                    case 'text':
                        inputs[i].value = '';
                        break;
                    case 'radio':
                    case 'checkbox':
                        inputs[i].checked = false;   
                }
            }

            const textAreas = $('#contact-form textarea');

            for (let i = 0; i < textAreas.length; i++) {
                textAreas[i].value = '';
            }
        }

    $("#contact-form").submit(function(e) {
        e.preventDefault();
        var form = $(this);

        $.ajax({
            type: "POST",
            url: '/email-contact-form',
            data: form.serialize(),
            success: function(data){
                resetForm();
                alert('Message sent successfully');
            },
            error: function(error) {
                alert('An error prevented the form from being submitted.')
            }
        });
    });
});
</script>