<footer class="page-footer font-small blue dark-background">
    <div class="footer-copyright text-center py-3 text-light">© 2021 Copyright:
      <a href="https://mdbootstrap.com/"> The Green Guys Landscaping</a>
    </div>
</footer>