<div id="mission-section">
    <div class="jumbotron justify-content-center">
        <h1 class="display-4">Our Mission Statement:</h1>
        <hr class="my-4">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      </div>
</div>
  