<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light dark-background">
    <a class="navbar-brand" href="#">
      <embed src="img/logo_svg_1.svg" width="75" height="75">
    </a>
    <button class="custom-navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon navbar-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul id="collapsed-navbar-list" class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#services-section">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery-section">GALLERY</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#about-section">ABOUT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#contact-section">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>

<script>
  $(document).ready(function(){
      $('#navbarNav li a').on('click', function(){
        if($('.navbar-toggler').css('display') !='none'){
          $('.navbar-toggler').click();
      }
      });
  });
</script>