<nav id="navbar" class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
        <img src="https://pbs.twimg.com/profile_images/613717122749829120/y_8t6Jdi_400x400.png" width="45" height="45" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link light-text-color" href="#mission-section">MISSION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link light-text-color" href="#">SERVICES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link light-text-color" href="#">WORK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link light-text-color" href="#">TESTIMONIALS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link light-text-color" href="#">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>