<div id="services-section" class="section">

    <div class="section-title">
        <h1>END-TO-END SERVICES OFFERED</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Landscape Design and Installation</h5>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Recurring Property Maintenance</h5>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Hardscape and Paved Surface Installation</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Planting Design and Installation</h5>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Tree Maintenance and Removal</h5>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Seasonal Cleanup</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3">
      <div class="col mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Land Management and Species Control</h5>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Outdoor Structure Design and Install</h5>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Lawn Care and Maintenance</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-row d-flex justify-content-center align-items-center"> 
      <div class="p-2">
          <a id="contact-us-button" href="#contact-section"><button class="btn background-orange text-light">GET ON THE SCHEDULE</button></a>
      </div>
  </div>

</div>