<div id="splash-section">
    <div class="splash-image">
        <div id= "splash-image-overlay" class="card-overlay flex-column d-flex justify-content-center align-items-center">
            <div class="p-3">
                <h1>THE GREEN GUYS LANDSCAPING</h1>
            </div>
            <div class="flex-row d-flex justify-content-center align-items-center"> 
                <div class="p-2">
                    <a href="#contact-section"><button class="btn background-green text-light">CONTACT US</button></a>
                </div>
                <div class="p-2">
                    <a href="#services-section"><button class="btn background-orange text-light">LEARN MORE</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
