<div id="splash-section">
    <div class="splash-image">
        <div id= "splash-image-overlay" class="card-overlay flex-column d-flex justify-content-center align-items-center">
            <div class="p-3">
                <h1>THE GREEN GUYS LANDSCAPING</h1>
            </div>
            <div class="flex-row d-flex justify-content-center align-items-center"> 
                <div class="p-2">
                    <button type="button" class="btn background-green text-light" href="contact-section"> CONTACT US </button>
                </div>
                <div class="p-2">
                    <button type="button" class="btn background-orange text-light" href="services-section"> LEARN MORE </button>
                </div>
            </div>
            <!-- <div class="container-fluid">
                <div class="row">
                    <div class="div d-flex justify-content-center align-items-center flex-column">
                        <h1> Hello World! </h1>
                        <p> I am subsection! </p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
