body {
    background-color: #eee;
    font-family: 'Roboto', 'sans-serif';
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  outline: none !important;
}

.splash-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url('https://townhousemyhouse.com/img/banner/thmh_wdm_2016.jpg');
    visibility: inherit;
}

#navbar {
    background-color: #232329;
    height: 74px;
    font-size: 16px;
}

.light-text-color {
    color: #B2B2B4;
}

.nav-link:hover {
    color: #ffffff;
}

#splash-section {
    background-color: burlywood;
    height: 100vh;
    width: 100%;
    background-size: contain
}

#intro-section {
    background-color: cadetblue;
}