@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

body, html {
    background-color: #eee;
    font-family: 'Roboto', 'sans-serif';
    margin: 0px 0px;
    padding: 0px 0px;
    font-weight: 400;
    overflow-x: hidden;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  outline: none !important;
  color: inherit;
}

.navbar-light.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(158, 86, 44, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  } 
.custom-navbar-toggler.navbar-toggler {
    border-color: #9E562C;
}

#contact-info address {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.7;
    overflow: hidden;
    margin-top: 7px;
}

.text-center {
    text-align: center;
}

.employee-pictures {
    width: 100%;
}

.section-title {
    font-size: 25px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
}

.section { 
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    min-width: 100%;
}

.carousel-gallery {
    width: 50%;
}

.dark-background {
    background-color: #232328;
}

.background-green {
    background-color: #404D1A;
}

.background-orange {
    background-color: #9E562C;
}

#splash-image-overlay {
    color: white;
}

#gallery-section { 
    width: 50%;
    overflow: hidden;
}

.card-overlay .splash-details {
    width: inherit;
    height: inherit;
}

#navbarNav .navbar-nav .nav-item a {
    color: #B2B2B4;
}
#navbarNav .navbar-nav .nav-item a:hover {
    color: #fff;
    border-bottom:3px solid #9E562C;
}

#contact-form .row {
    margin: 20px;
}

#contact-form {
    margin: 1rem;
}

#contact-section .container {
    padding: 0px;
    margin: 0px;
}

#services-section {
    padding-bottom: 2rem;
}

#main-navbar {
    padding: 0rem 1rem;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 99999;
}

.card-overlay {
    height: 100%;
    width: 100%;
    background: rgba(34, 34, 34, 0.20);
  }

.splash-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url('../img/splash_image_1.jpg');
    visibility: inherit;
}

#navbar {
    background-color: #232329;
    height: 74px;
    font-size: 16px;
}

.light-text-color {
    color: #B2B2B4;
}

.nav-link:hover {
    color: #ffffff;
}

#splash-section {
    background-color: burlywood;
    height: 100vh;
    width: 100%;
    background-size: contain
}

#intro-section {
    background-color: cadetblue;
}

#collapsed-navbar-list li {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-caption h3 {
        font-size: 1.5rem;
    }
    .carousel-caption p {
        font-size: .75rem;
    }

    .carousel-caption {
        margin-bottom: -3rem;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .nav-link {
        font-size: 36px;
    }
    h3 {
        font-size: 1rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .nav-link {
        font-size: 36px;
    }
    .carousel-caption h3 {
        font-size: 1px;
    }
}